@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  border: 1px solid red;
  height: 100vh;
  padding: 1em;
}

.container {
  height: 95%;
  border: 1px solid blue;
}

/* AvatarComponent */
.bg-avatar {
  background-image: url("/public/images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 320px;
  text-align: center;
  position: relative;
  border: 1px solid red;
}
.tanya {
  width: 78%;
  position: absolute;
  top: 10%;
  left: 11%;
  border-radius: 10px;
}